body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  position: relative;
  width: 70vw;
  height: 70vh;
  border: 1px solid black;
}

.square {
  position: absolute;
  width: 5%;
  height: 5%;
  font-size: 5vh;
  text-align: center;
}

.astronaut {
  background-color: transparent;
}

.alien {
  background-color: transparent;
}

.rocket {
  background-color: transparent;
}
